<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="defaultRegion" value="los-angeles"/>
    <add key="defaultUTMSource" value="messenger_chatBot"/>
    <add key="defaultUTMMedium" value="Facebook"/>
    <add key="defaultUTMCampaign" value="FPCNativeMsg_chatBot_pilot"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off" />
  </system.web>
</configuration>